<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="assets/logo.png" alt="SannAgro Logo" />
      </div>
      <div class="footer-columns">
        <div class="footer-column">
          <h3>Grupo Sannar</h3>
          <ul>
            <li><a href="#">SannarTech</a></li>
            <li><a href="#">SannarObras</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Páginas</h3>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/orcamento">Orçamento</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Nos Siga</h3>
          <ul>
            <li><a href="https://www.facebook.com/people/Sannagro/100064949874094/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/sannagrobalancas/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/sannagrobalancas/">Instagram</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Atendimento</h3>
          <ul>
            <li><a href="mailto:comercial@sannagro.com.br">comercial&#64;sannagro.com.br</a></li>
            <li><a href="tel:+554133328778">+55 41 3332-8778</a></li>
            <li>Rua Arthur Martins Franco, 160<br />Cidade Industrial de Curitiba,<br />Curitiba – PR, CEP 81350-100</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        © Sannar Balanças | Todos os direitos reservados | Desenvolvido por Inspire
        Tech Company
      </p>
    </div>
  </footer>
  