<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/logo.png" alt="SANNAGRO Logo" />
  </div>
  <ul class="navbar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/sobre">Sobre</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">Produtos <span class="arrow">&#9662;</span></a>
      <ul class="dropdown-menu">
        <li><a href="/concreto">Balança Concreto</a></li>
        <li><a href="/movel">Balança Móvel</a></li>
      </ul>
    </li>
    <li><a href="/contact">Contato</a></li>
  </ul>
  <div class="navbar-button">
    <button>Solicitar Orçamento</button>
  </div>
</nav>
